body {
    background: darkslategrey;
}

div.sep {
    border-bottom: 1px solid slategray;
}

#container {
    border: 1px solid slategray;
}

div.content {
    float: left;
    width: 33%;
    margin: auto;
    padding: 2px;
    border: 1px solid darkslategray
}

p {
    color: whitesmoke;
}